version: '3.9'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    networks:
      - backend
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBIT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBIT_PASSWORD}
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "${USER_SERVICE_PORT}:3000"
    env_file:
      - .env
    depends_on:
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - backend

  car-service:
    build: ./car-service
    container_name: car-service
    ports:
      - "${CAR_SERVICE_PORT}:5500"
    env_file:
      - .env
    depends_on:
      user-service:
        condition: service_started
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - backend

  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "${GATEWAY_PORT}:4000"
    env_file:
      - .env
    depends_on:
      car-service:
        condition: service_started
      user-service:
        condition: service_started
    networks:
      - backend

  # --- НОВИЙ СЕРВІС WEBSITE ---
  website:
    build:
      context: ./website
      dockerfile: Dockerfile
      # Передаємо URL Gateway під час збірки образу
      args:
        VITE_GATEWAY_URL: http://localhost:${GATEWAY_PORT:-4000}
    container_name: website
    ports:
      - "5173:80" # Сайт буде доступний за адресою http://localhost:5173
    depends_on:
      - gateway
    networks:
      - backend

networks:
  backend:

volumes:
  mongo_data: