TOKEN_SECRET="ea0c973008518d4410a1121a28058208fbaa0472fe24adecb40cc13a546c4cdfc7c502f3d8b645a93a3b930323c589fc07296127ba5cf6dbc9e96a0aa7a18a2e"
USER_SERVICE_PORT=3000

# Доступи до бази даних
MONGO_USER=root
MONGO_PASSWORD=example
MONGO_DB_URL=mongodb://root:example@mongo:27017/test-task-cars?authSource=admin

# Доступи до RabbitMQ
RABBIT_USER=admin
RABBIT_PASSWORD=admin
RABBIT_MQ_URL=amqp://admin:admin@rabbitmq:5672