# Доступи до бази даних
MONGO_USER=root
MONGO_PASSWORD=example
MONGO_DB_URL=mongodb://root:example@mongo:27017/test-task-cars?authSource=admin

# Доступи до RabbitMQ
RABBIT_USER=admin
RABBIT_PASSWORD=admin
RABBIT_MQ_URL=amqp://admin:admin@rabbitmq:5672

CAR_SERVICE_PORT=5500